<p><%= link_to 'Users:', users_path %> <%= User.count %> registered</p>
<html>
<head>
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-111789205-1"></script>
  <meta name="viewport" content="width=470, maximum-scale=1, user-scalable=yes,">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="/app.css">
  <link rel="stylesheet" href="/materialize/css/materialize.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="/materialize/js/materialize.min.js"></script>
</head>
<script>
$( document ).ready(function() {

  // Initialize collapse button
  $(".button-collapse").sideNav();
  // Initialize collapsible (uncomment the line below if you use the dropdown variation)
  $('.collapsible').collapsible();

  $('.button-collapse').sideNav({
     menuWidth: 480, // Default is 300
     edge: 'left', // Choose the horizontal origin
     closeOnClick: true, // Closes side-nav on <a> clicks, useful for Angular/Meteor
     draggable: true // Choose whether you can drag to open on touch screens
   }
 );

 $('.button-collapse').sideNav('show');
  // Hide sideNav
  $('.button-collapse').sideNav('hide');
  // Destroy sideNav


  });

</script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-111789205-1');
</script>
<script>
function openCity(evt, cityName) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(cityName).style.display = "block";
    evt.currentTarget.className += " active";
}
function myMove() {
  var elem = document.getElementById("myAnimation");
  var pos = 0;
  var id = setInterval(frame, 6);
  function frame() {
    if (pos == -350) {
      clearInterval(id);
    } else {
      pos++;
      elem.style.top = pos + 'px';
      elem.style.top = pos + 'px';
    }
  }
}

/* myFunction toggles between adding and removing the show class, which is used to hide and show the dropdown content */
function myFunction() {
    document.getElementById("myDropdown").classList.toggle("show");
}
</script>
<body>
  <ul id="slide-out" class="side-nav" >
    <li>
      <div class="userView">
          <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <div class="background">
          <img src="images/rubyaaaa.png">
        </div>
        <a href="#!user"><img class="circle" src="images/18191106_10154767191036713_1243322475_n.jpg"></a>
        <a href="#!name"><span class="white-text name">Erik Shepard-Lewis</span></a>
        <a href="#!email"><span class="white-text email">Web Development World</span></a>
        <li><a href="javascript:void(0)" class="animated slideInRight" class="tablinks" onclick="openCity(event, 'Plans')">PLANS & PRICING</a></li>
        <li><a href="javascript:void(0)" class="animated slideInLeft" class="tablinks" onclick="openCity(event, 'Resume')">RESUME</a></li>
        <li><a href="javascript:void(0)" class="animated slideInRight" class="tablinks" onclick="openCity(event, 'About')">ABOUT ME</a></li>
        <li><a href="javascript:void(0)" class="animated slideInLeft" class="tablinks" onclick="openCity(event, 'Contact')">CONTACT</a></li>
        <li> <a href="javascript:void(0)" class="animated slideInRight" class="tablinks" onclick="openCity(event, 'Skills')">TECHNOLOGY</a></li>
        <li class="no-padding">
          <ul class="collapsible collapsible-accordion">
            <li>
              <a class="collapsible-header">PROJECTS<i class="material-icons">arrow_drop_down</i></a>
              <div class="collapsible-body">
                <ul>
                  <li><a href="javascript:void(0)" class="animated slideInRight" class="tablinks" onclick="openCity(event, 'Client')">Client Websites</a></li>
                  <li><a href="javascript:void(0)" class="animated slideInLeft" class="tablinks" onclick="openCity(event, 'React.JS')">React.JS</a></li>
                  <li><a href="javascript:void(0)" class="animated slideInRight" class="tablinks" onclick="openCity(event, 'RubyonRails')">Ruby on Rails</a></li>
                  <li><a href="javascript:void(0)" class="animated slideInLeft" class="tablinks" onclick="openCity(event, 'Angular.JS')">Angular.Js</a></li>
                  <li><a href="javascript:void(0)" class="animated slideInRight" class="tablinks" onclick="openCity(event, 'javascripthtml5css3')">javascript/HTML5/CSS3</a></li>
                </ul>
              </div>
            </li>
          </ul>
        </li>
        <li class="no-padding">
          <ul class="collapsible collapsible-accordion">
            <li>
              <a class="collapsible-header">VIDEOS<i class="material-icons">arrow_drop_down</i></a>
              <div class="collapsible-body">
                <ul>
                  <li><a href="javascript:void(0)" class="animated slideInLeft" class="tablinks" onclick="openCity(event, 'EditedFilm')">Edited Film</a></li>
                  <li><a href="javascript:void(0)" class="animated slideInRight" class="tablinks" onclick="openCity(event, 'AppDemos')">App Demo's</a></li>
                </ul>
              </div>
            </li>
          </ul>
        </li>
  </ul>
  <ul class="tab">
    <h1 class="animated zoomInDown">E.S.L Web Development World</h1>
    <h3 class="animated fadeIn">Exploration Controls<br>
          <div class="dropdown">
          <a href="#index.html" data-activates="slide-out" class="button-collapse"><i class="animated fadeIn"> <span class="material-icons" style="cursor:pointer;font-size:900%;color:#003b00">apps</i></span></a><br>
          </div>
          <div id="Contact" class="tabcontent">
          <h3 class="animated rollIn">Contact Info</h3><br>
    <a href="https://www.linkedin.com/in/erik-shepard-lewis">
      <img class="animated rollIn" src="images/097145-3d-glossy-blue-orb-icon-social-media-logos-linkedin-logo-square2.png" alt="Linked-In"></a>
    <h2 class="animated rollIn">E-MAIL: eslwebworld@gmail.com</h2>
    <h2 class="animated rollIn">Instagram @ ErikshepardL</h2>
    <h2 class="animated rollIn">Facebook: Erik S-Lewis</h2>
    </div>
    </div>
    <div id="EditedFilm" class="tabcontent">
      <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FLondellShawndell00%2Fvideos%2F1736900933260798%2F&show_text=0&width=560" width="400" height="315"></iframe>
      <iframe width="400" height="315" src="https://www.youtube.com/embed/1UJyfBKpIEw" allowfullscreen></iframe>
      <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FLondellShawndell00%2Fvideos%2F1882938825323674%2F&show_text=0&width=560" width="400" height="315"></iframe>
    </div>
    <div id="AppDemos" class="tabcontent">
      <h3>More app demo's Coming soon</h3><br>
      <iframe width="380" height="450" src="https://www.youtube.com/embed/UhMuF4-IAlA" frameborder="0" allowfullscreen></iframe><iframe width="380" height="450" src="https://www.youtube.com/embed/F4vzaA_Qr0U" frameborder="0" allowfullscreen></iframe><br>
      <iframe width="380" height="450" src="https://www.youtube.com/embed/JJpYUYEutOk" frameborder="0" allowfullscreen></iframe>
    </div>
    <div id="About" class="tabcontent">
      <h3>ABOUT ME</h3><br>
      <img src="images/20638836_10155074212706713_8862956184257427539_n.jpg" style="width:300px; height:300px;">
      <h2> <br><img class="hire"src="images/good.png"></h3>I'm a full stack web developer. Who has gained experience in multiple areas of web development. From back-end to front-end test driven development. I have completed training at General Assembly Providence WDI emursive program. General Assembly is full time 9am to 5pm. Full stack Web Development BootCamp for 3 months. Where you build custom websites and Single Page Apps with responsive web design.
      </div>
      <div id="Plans" class="tabcontent">
        <h3>PlANS & PRICING</h3><br>
        <h2 style="text-align:center">Unlike most web firms, My mission is to provide the best online presence possible for my clients. For some clients, that means a simple brochure website with very little ongoing activity, while other projects require a complex development phase followed by constant ongoing programming, design and marketing efforts. Building an online presence is important to just about every type of company in some capacity.
          practicality is big , If it doesn’t make sense for your particular project, then I'm not going to recommend it.  Im available for Video Calls or a sit down to discuss evolving your online presence.</h2>
<div class="columns">
  <ul class="price">
    <li class="header">E-COMMERCE</li>
    <li class="grey">$100/mo</li>
    <li class="grey">$150 setup fee</li>
    <li>PayPal Fast Check Out & Inventory</li>
    <li>Mobile Responsive</li>
    <li>Upgraded features including form, coupons, reviews, slideshows and more</li>
    <li>DOMAIN & HOSTING</li>
    <li class="grey"><a href="#Contact" class="button">Sign Up</a></li>
  </ul>
</div>

<div class="columns">
  <ul class="price">
    <li class="header" style="background-color:#4CAF50">Business Website </li>
    <li class="grey">$60/mo</li>
    <li class="grey">$150 setup fee</li>
    <li>Stylish 5 page website design</li>
    <li>Mobile responsive</li>
    <li>Upgraded features including form, coupons, reviews, slideshows and more</li>
    <li>DOMAIN & HOSTING</li>
    <li class="grey"><a href="#Contact" class="button">Sign Up</a></li>
  </ul>
</div>

<div class="columns">
  <ul class="price">
    <li class="header">Custom Website Design</li>
    <li class="grey">Price Varies</li>
    <li class="grey">based on individual project needs</li>
    <li>Custom site built from scratch</li>
    <li>Mobile responsive</li>
    <li>Weekly or Monthly updates for your site</li>
    <li>DOMAIN & HOSTING</li>
    <li class="grey"><a href="#Contact" class="button">Sign Up</a></li>
  </ul>
</div>
<br><br><br><br><br><br><br><br>
</div>
<div id="Resume" class="tabcontent">
<h3 class="animated rollIn">Resume</h3><br>
<a href="https://resume.creddle.io/resume/c32s35c8got"><img class="animated rollIn" src="images/resume-icon-png-5.png"  ></a>
</div>
<br><br>
<div id="Skills" class="tabcontent">
<div class="skills">
<div class="dropdown">
<div class="animated infinite pulse">
<button class="dropbtn">Technology</button>
</div>
<br><br>
<div class="dropdown-content5">
<a><img class="git" src="images/React-JS.sh.png"></a>
<a><img class="html" src="images/HTML5_Logo_gray-225.png"></a>
<a><img class="git" src="images/javascript-logo.png"></a>
<a><img class="git" src="images/css3-logo.png"></a>
<a><img class="git" src="images/rubyaaaa.png"></a>
<a><img class="git" src="images/rails-new.sh-600x600.png"></a>
<a><img class="git" src="images/nodejsss.png"></a>
<a><img class="git" src="images/postgres-logo-01.png"></a>
<a><img class="git" src="images/sql-database-icon-png-21.png"></a>
<a><img class="git" src="images/aaaaaa.png"></a>
<a><img class="git" src="images/mongoDB.png"></a>
<a><img class="git" src="images/expressjs.png"></a>
<a><img class="git" src="images/AN.png"></a>
<a><img class="git" src="images/mean-stack.png"></a>
<a><img class="git" src="images/58480873cef1014c0b5e48ea.png"></a>
<a><img class="git" src="images/AJAX_logo_by_gengns.svg.png"></a>
<a><img class="git" src="images/api-icon.png"></a>
<a><img class="git" src="images/ws_logo.png"></a>
           </div>
          </div>
          </div>
          </div>
          <div id="Client" class="tabcontent">
            <div class="tooltip1">
              <span class="tooltiptext1">Finao Clothing Line.<br> Failure is not an Option! </span>
              <a href="http://finaoclothing.net" class="animated zoomInLeft"><img class="imgB" src="images/death-star-clipart-1.jpg"><br>FINAO CLOTHING</a>
            </div>
              <div class="tooltip">
                <span class="tooltiptext">Londell Pina's Powerlifting Portfolio </span>
              <a href="https://arcane-scrubland-17622.herokuapp.com/" class="animated zoomInRight"><img class="imgB" src="images/graphics-star-wars-896705.gif"><br>Londell Pina</a>
            </div>
          </div>
          <div id="RubyonRails" class="tabcontent">
            <div class="tooltip1">
              <span class="tooltiptext1">Peer to Peer video chat & video conference Website. Built on Rails 5 Using PostgreSQL Database. </span>
              <a href="https://enigmatic-springs-56858.herokuapp.com/" class="animated zoomInLeft"><img class="imgB" src="images/death-star-clipart-1.jpg"><br>Face Time World</a>
            </div>
              <div class="tooltip">
                <span class="tooltiptext">Cutting Edge Personal Training Fitness App With Voice Command Music Player Built on Rails 5 with Full CRUD Capabilities. </span>
              <a href="https://arcane-scrubland-17622.herokuapp.com/" class="animated zoomInRight"><img class="imgB" src="images/graphics-star-wars-896705.gif"><br>Personal Trainer App</a>
            </div>
          </div>
            <div id="Angular.JS" class="tabcontent">
              <div class="tooltip2">
              <span class="tooltiptext2">Group Project Collaboration On GitHub Making A Single Page App Built With The MEAN STACK.</span>
              <a href="https://erikslewis.github.io/gofilter/"class="animated lightSpeedIn"><img class="imgB" src="images/a14.gif"/><br>Photo Filter</a>
              </div>
          </div>
              <div id="javascripthtml5css3" class="tabcontent">
                <div class="tooltip2">
                <span class="tooltiptext2">A Multiplayer HangMan game built with HTML5, Javascript and CSS.</span>
                <a  href="https://erikslewis.github.io/hangmanproject/" class="animated slideInUp"><img class="imgB" src="images/thisone.gif"/><br>HANGMAN GAME</a>
                </div>
                <div class="tooltip2">
                <span class="tooltiptext2">Iron man Single player mobile game built with HTML5, CSS and Javascript.</span>
                <a href="https://erikslewis.github.io/iron-man/" class="animated slideInUp"><img class="work1" src="images/graphics-star-wars-229414.gif"/><br>IRONMAN GAME</a>
                </div>
                <br>
                <div class="tooltip2">
                <span class="tooltiptext2">General Assembly Class Exercise Developing a drawing Website. </span>
                <a href="https://erikslewis.github.io/pixart_js/" class="animated slideInUp"><img class="huge"src="images/assaultship_crash2.gif"/><br>PICASSO ART!</a>
                </div>
                <div class="tooltip2">
                <span class="tooltiptext2">401MMA.COM ProtoType website mobile app for Professional Fighter Mike Connors.</span>
                <a href="https://erikslewis.github.io/401mma/"class="animated lightSpeedIn"><img class="work" src="images/graphics-star-wars-034923.gif"/><br>401 MMA</a>
                </div>
           </div>
         <div id="React.JS" class="tabcontent">
          <div class="tooltip2">
            <span class="tooltiptext2">General Assembly class exercise using REACT to create a movie search site. </span>
        <a href="https://erikslewis.github.io/React-Movie/" class="animated slideInUp"><img class="imgB" src="images/pirateA.gif"/><br>React Movie Search</a>
        </div>
        <div class="tooltip2">
        <span class="tooltiptext2">React.js Instagram like social media app for connecting with friends.</span>
        <a href="https://desolate-earth-24328.herokuapp.com/" class="animated slideInUp"><img class="imgB"src="images/89.gif"/><br>The Plug</a>
        </div>
          <div id="Resume" class="tabcontent">
          <h3>RESUME</h3>
          </div>
          </div>
          <div class="Fly">
          <img class="Fly" src="images/tumblr_mzpjx8VJTh1qcoscoo1_400.gif">
        </div>
          <div class="animated infinite pulse">
          <div id ="myContainer" class="animated rotateIn">
              <button  class="sat" onclick="myMove()"><img  class="img2" src="images/green-shoot-button.svg.hi.png" alt=""></button><br>
          <div id ="myAnimation">
          <img class="Fly2" src='images/aball.gif'></div>
          </div>
          </div><br><br><br><br><br><br><br><br><br><br>
<a href="https://www.codecademy.com/methodSlayer60817">
  <img class="img2" src="images/codecademy.png"></a>
  <a href="https://github.com/erikslewis">
  <img class="github" src="images/Github-icon.png"></a>
  <a href="https://www.codewars.com/users/DeadShotE">
  <img class="war" src="images/newist.jpeg"></a><br>
  <img class="logo" src="images/15910186_10207444276817050_233251890_n.jpg">
</ul>
    </body>
  </html>
