<% content_for :title do %>About<% end %>
<h3>About the Website</h3>
<p>
  <div id="About" class="tabcontent">
      <h3>ABOUT ME</h3><br>

      <img src="/images/20638836_10155074212706713_8862956184257427539_n.jpg" style="width:300px; height:300px;">
      <h2> <br><img class="hire"src="/images/good.png"></h3>I'm a full stack web developer. Who has gained experience in multiple areas of web development. From back-end to front-end test driven development. I have completed training at General Assembly Providence WDI emursive program. General Assembly is full time 9am to 5pm. Full stack Web Development BootCamp for 3 months. Where you build custom websites and Single Page Apps with responsive web design.
      </div>
This web application was created with
<%= link_to('Rails Composer', 'http://railsapps.github.io/rails-composer/') %>
from the <%= link_to('RailsApps project', 'http://railsapps.github.io/') %>.
</p>
